<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<a href="/articles/<%= @article.id%>/edit"> Edit </a>

<%= link_to "Delete",
article_path(@article),
method: :delete,
data: {confirm: "Are you sure?"}%>
